bird
bsearch
cflold
cps
*.dyn_hi
*.dyn_o
.hdevtools.*
.hdevtools.sock 
helloworld
*.hi
*.html
.idea
*.iml
*.lock
mod35
mylast
*.o
*.pdf
public/
*.pyc
__pycache__
*.pyo
qsort
readfile
.stack-work
*.sublime-workspace
subseqs
.*.swp
tags
threads
*.tix
while
wordcount
yahtzee
zipexample
