dist/
dist-newstyle/
*.dyn_hi
*.dyn_o
.hdevtools.*
.hdevtools.sock
*.hi
*.html
.idea
*.iml
.ipynb_checkpoints/*.ipynb
*.lock
*.o
*.pdf
public/
polydivs/
quine/
*.pyc
__pycache__
*.pyo
.pytest_cache/
.stack-work
*.sublime-workspace
readfile
skips
.*.swp
tags
threads
*.tix
.vscode
while
wordcount
